.categories {
    width: 100%;
    height: 75px;
    background-color: rgb(206, 205, 205);
}

.icon {
    width: 25px;
    height: 25px;
}

.foodButtonCat {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 150px;
    overflow: hidden;
    background: #ec5b21;
    color: rgb(94, 94, 94);
   }
   
   .foodButtonCat span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }

   .foodButtonCat img {
    display: none;
   }

   .foodButtonCat:hover img {
    display: inline;
   }
   
   .foodButtonCat:hover span {
    color: rgb(255, 255, 255);
   }
   
   .foodButtonCat::before,
   .foodButtonCat::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .foodButtonCat::before {
    content: "";
    background: #ffffff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .foodButtonCat:hover::before {
    transform: translate3d(100%, 0, 0);
   }

   .add-button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       #5a1202,
       #aa2709,
       #bd2c0b,
       #961e03
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 5px 14px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #eb441e;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .add-button:hover {
    filter: brightness(110%);
   }
   
   .add-button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .add-button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .add-button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .add-button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   .add-button:focus:not(:focus-visible) {
    outline: none;
   }