.categories {
    width: 100%;
    height: 75px;
    background-color: rgb(206, 205, 205);
}

.icon {
    width: 25px;
    height: 25px;
}

.foodButtonCat {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 150px;
    overflow: hidden;
    background: #ec5b21;
    color: rgb(94, 94, 94);
   }
   
   .foodButtonCat span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }

   .foodButtonCat img {
    display: none;
   }

   .foodButtonCat:hover img {
    display: inline;
   }
   
   .foodButtonCat:hover span {
    color: rgb(255, 255, 255);
   }
   
   .foodButtonCat::before,
   .foodButtonCat::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .foodButtonCat::before {
    content: "";
    background: #ffffff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .foodButtonCat:hover::before {
    transform: translate3d(100%, 0, 0);
   }